extends ../layouts/default

block content
	.row
		.col-md-10.col-md-offset-1
			.selectList
				if workingGroups
					.dropdown
							button(class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Working Group 
								b.caret
							ul.dropdown-menu
								li: a(href='/decisions/') Alle
								each wGroup, wGroup_i in workingGroups
									li: a(href='/decisions/' + wGroup.key)
										= wGroup.name
			.newTask
				a(class="btn btn-sm btn-default" type="button" href='/admin/decisions?create')
					icon(class="glyphicon glyphicon-pencil")
					| Add Decision 
			.subtitle
				if workingGroupFilter
					h4= workingGroupFilter.name
				else
					h4 Alle	
			#visualization
			.legend
				if workingGroups
					each wGroup, wGroup_i in workingGroups
						div
							a(href='/decisions/' + wGroup.key)
								icon(class="glyphicon glyphicon-stop", id=wGroup.key)
								= wGroup.name
	.row
		.col-md-10.col-md-offset-1
			.decisionList
				if !decisions
					.jumbotron.text-center
						h2 Invalid post...
						p.lead Please check the url and try again
				else
					if decisions.data
						.panel-group(id="accordion",role="tablist",aria-multiselectable="true")
							each data, key in decisions.data
								each decision, i in data
									.panel.panel-default
										.panel-heading(role="tab", id="heading-" + decision._id)
											h4.panel-title
												a(href="#collapse-" + decision._id, role="button", data-toggle="collapse", data-parent="#accordion", aria-expanded="false", aria-controls="collapse-" + decision._id)
													!= decision.title
											a(href='/admin/decisions/' + decision._id, title="Edit Decision")
												icon(class="glyphicon glyphicon-edit")
											time(datetime=decision.decisionDate.toISOString())=decision._.decisionDate.format('Do MMMM YYYY')

										.panel-collapse.collapse(role="tabpanel", aria-expanded="false", aria-labelledby="heading-" + decision._id, id="collapse-" + decision._id)
											.panel-body
												.decision-description
													!= decision.description.html
												.panel-footer
													b Working Group 
													each wGroup, wGroup_i in decision.workingGroup
														a(href='/decisions/' + wGroup.key)= wGroup.name
														if wGroup_i < decision.workingGroup.length - 1
															| , 
														else
															| 
												.panel-footer
													.related-tasks
														b Related Tasks
														ul.tasks
															each task, task_id in decision.tasksRelated
																li= task.title

												
					
