extends ../layouts/default
block visHeader
	script(src="/js/extra/vis.min.js")
	link(href="/styles/extra/vis.min.css", rel="stylesheet")
	link(href="/styles/graph.css", rel="stylesheet")

block js
	script(src='/js/graph.js')
	script.
		$.getJSON('/api/graph/!{workingGroupFilter.key}', function(data) {
			initTaskMap(data);
		});

block content
	.row
		.col-md-10.col-md-offset-1
			.selectList
				if workingGroups
					.dropdown
							button(class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Working Group 
								b.caret
							ul.dropdown-menu
								li: a(href='/task-map/') Alle
								each wGroup, wGroup_i in workingGroups
									li: a(href='/task-map/' + wGroup.key)
										= wGroup.name
			.newTask
				a(class="btn btn-default" type="button" href='/admin/tasks?create')
					icon(class="glyphicon glyphicon-pencil")
					| Add Task 
			.subtitle
				if workingGroupFilter
					h4= workingGroupFilter.name
				else
					h4 Alle	
			#visualization
			#legend
				if workingGroups
					each wGroup, wGroup_i in workingGroups
						div
							a(href='/task-map/' + wGroup.key)
								icon(class="glyphicon glyphicon-stop", id=wGroup.key)
								= wGroup.name
		if workingGroups
			each wGroup, wGroup_i in workingGroups
				div(id=wGroup._id, data="wgroup").hovermsg
					.panel.panel-info
						.panel-heading
							!= wGroup.name
		if !tasks
			.jumbotron.text-center
				h2 Invalid post...
				p.lead Please check the url and try again
		else
			if tasks.data.length
				each task, i in tasks.data
						div(id=task._id).hovermsg
							.panel.panel-info
								.panel-heading
									h4= task.title
									h5= task.subtitle
								.panel-body
									div
										!= task.description.html
									div
										p.text-muted.text-small
											if task.startOn
												|Start on 
												time(datetime=task.startOn)=task._.startOn.format('Do MMMM YYYY')
											|<br> 
											if task.endOn
												|End on 
												time(datetime=task.endOn)=task._.endOn.format('Do MMMM YYYY')
										b Working Group 
										each wGroup, wGroup_i in task.workingGroup
											a(href='/task-map/' + wGroup.key)= wGroup.name
											if wGroup_i < task.workingGroup.length - 1
												| , 
											else
												| 
							
						.col-md-8.col-md-offset-2
							hr
							article
								header
										h1= task.title
										h3= task.subtitle
										a(href='/admin/tasks/' + task._id)
											icon(class="glyphicon glyphicon-edit")
								div
									p.text-muted.text-small
										if task.startOn
											|Start on 
											time(datetime=task.startOn)=task._.startOn.format('Do MMMM YYYY')
										|  - 
										if task.endOn
											|End on 
											time(datetime=task.endOn)=task._.endOn.format('Do MMMM YYYY')
										if task.workingGroup && task.workingGroup.length
											p
											b Working Group 
											each wGroup, wGroup_i in task.workingGroup
												a(href='/task-map/' + wGroup.key)= wGroup.name
												if wGroup_i < task.workingGroup.length - 1
													| , 
												else
													| 
										if task.assignedTo && task.assignedTo.length
											p
											b Assigned to: 				
											each aTo, aTo_i in task.assignedTo
												a(href='/blog/' + aTo.key)= aTo.name.full
												if aTo_i < task.assignedTo.length - 1
													| , 
												else
													| 
										if task.createdBy
											p
											b Created by: #{task.createdBy.name.full}
								hr
								!= task.description.html
